.dashboard-banner {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding: 150px 0;
  width: 100vw;
  opacity: 1;
}

.dashboard-text {
  text-align: center;
  justify-content: center;
  width:100%;
  z-index: 100;
  h4 {
    color: #ffffff;
    margin-top: 70px;
    font-size: 40px;
    font-weight: bold;
  }
}

.card-image {
  padding: 0;
}

.dashboard-pap-card-image {
  background-position: center;
  background-size: cover;
  height: 150px;
}

.dashboard-pap-content {
  padding: 16px;
}

.pap-cards {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 0;
  width: 43%;
  height: 120px;
  border-radius: 10px;
}

.dashboard-pap-buttons {
  display: flex;
  a {
    text-decoration: none;
    color: white;
  }
  justify-content: flex-end;
  align-items: center;
  margin-top: -15px;
  margin-left: -9px;
  gap: 2px;
}

.dashboard-pap-box {
  margin-top: 57px;
  margin-bottom: 30px;
  width: 1320px;
}

.edit-button {
    background: #193563;
    padding: 5px;
    font-weight:lighter;
    padding-left: 22px;
    padding-right: 20px;
    font-size: 15px;
    opacity: 0.7;
    border-radius: 7px;
    bottom: 40px;
    right: -9px;
  }

.delete-button {
  background: #d5272a;
  padding: 5px;
  font-weight:lighter;
  font-size: 15px;
  opacity: 0.7;
  border-radius: 7px;
  padding-left: 11px;
  padding-right: 15px;
  top: -14px;
  right: -10px;
}

.edit-button:hover {
  opacity: 1;
}

.delete-button:hover {
  opacity:  1;
}

.dashboard-bookings-box {
  float: right;
}

.dashboard-booking-card {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 123px;
  width: 110%;
}

.dashboard-booking-card .dashboard-booking-body{
  flex-grow: 1;
  padding: 0 24px;
}

.dashboard-booking-card-image{
  height: 65px;
  background-position: center;
  background-size: cover;
}

.dashboard-booking-buttons {
  display: flex;
  position: absolute;
  width: 442px;
  justify-content: flex-end;
  align-items: center;
  margin-top: 67px;
  margin-left: 65px;
  color: white;
  gap: 2px;
}

  .button-green{
    opacity: 0.7;
    background: #0a7d36;
    padding: 5px;
    font-weight:lighter;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    opacity: 0.7;
    border-radius: 7px;
    right: -128px;
    color: white;
    text-decoration: none;
    border: none;
    top: -16px;
  }


.dashboard-booking-reject {
  background: #d5272a;
  padding: 5px;
  font-weight:lighter;
  font-size: 15px;
  opacity: 0.7;
  border-radius: 7px;
  padding-left: 20px;
  padding-right: 19px;
  left: 462px;
  a {
    color: white;
  }
}

.button-green:hover {
  opacity: 1;
}

.dashboard-booking-reject:hover {
  opacity: 1;
}

.bell-yellow{
  color: rgb(197, 158, 17);
}

.modal-body {
  color: black;
}

.modal-title {
  color: black;
}

.modal-header {
  border: none;
}

.modal-footer {
  border: none;
  justify-content: space-evenly;
}

.modal-content {
  border-radius: 10px;
  background: white;
  width: 80%;
}
