<div class="container">
  <div>
    <br>
    <h1>New booking</h1>
    <%= render "form", booking: @booking %>

    <br>

    <div>
      <%= link_to "Back to bookings", bookings_path, style: "text-decoration: none" %>
    </div>
  </div>
</div>
