<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div class="text-center mt-3">
        <h2><strong>New booking</strong></h2>
      </div>
      <%= render "form", booking: @booking %>

      <br>

      <div>
        <%= link_to "Back to bookings", bookings_path, style: "text-decoration: none" %>
      </div>
    </div>
  </div>
</div>
