<div class="page-footer fixed-bottom">
      <div class="footer-line">
      <hr></div>
      <div class="footer">
        <div class="footer-links">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
         <div class="footer-page-links">
             <div class="footer-page-links-about">
               <%= link_to "About", "#", class: "footer-page-link-about" %>
             </div>
             <div class="footer-page-links-privacy">
                 <%= link_to "Privacy", "#", class: "footer-page-link-privacy" %>
             </div>
             <div class="footer-page-links-contact">
                <%= link_to "Contact Us", "#", class: "footer-page-link-contact"%>
             </div>
         </div>
        <div class="footer-copyright">
          This footer is made with <i class="fas fa-heart"></i> by Melomane
        </div>
      </div>
</div>
