<div class="container">
  <div class="text-center mt-3">
    <h1>About Us page</h1>
    <h3>'I remember when you were shy.'</h3>
    <br>
    <h4>Made with 🚀 science fiction force of:</h4>
    <h4>Audra Cirkelyte</h4>
    <h4>Maz Elgonemy</h4>
    <h4>Seb Labbate</h4>
    <h4>Darko Iliev</h4>
  </div>
</div>
