<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(<%= asset_path('Mila.jpg') %>);">
  <div class="container">
    <h1><strong>Anyone</strong> can feel like a <strong>celebrity</strong>!</h1>
    <p>All you need is a little ego boost...<br>With your personal paparazzi!</p>
    <button class="btn btn-outline-light">Sign up!</button>
  </div>
</div>
