<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(<%= asset_path('Mila.jpg') %>);">
  <div class="container">
    <div class="banner-content">
      <h1><strong>Anyone</strong> can feel like a <strong>celebrity</strong>!</h1>
      <p>All you need is a little ego boost...<br>With your personal paparazzi!</p>
      <div class="buttons">
        <%= link_to "Sign up!", new_user_registration_path, class: "btn btn-outline-light" %>
        <%= link_to "Log in", new_user_session_path, class: "btn btn-outline-light" %>
      </div>
    </div>
  </div>
</div>
