
.btn-flat, .btn-book, .btn-new-book, .btn-edit-user, .btn-cancel, .btn-leave-review {
  color: white;
  padding: 8px 24px;
  border-radius: 7px;
  background: #192436;
  transition: background 0.3s ease;
}

.btn-flat:hover, .btn-book:hover, .btn-new-book:hover, .btn-edit-user:hover {
  background: #304465;
  color: white;
}

.btn-book {
  width: 120px;
}

.btn-new-book {
  width: 180px;
}

.btn-edit-user {
  width: 110px;
  margin: 10px 0;
}

.btn-cancel {
  background: #d5272a99;
  width: 110px;
  margin: 10px 0;
}

.btn-cancel:hover {
  background: #d5272a;
  color: white;
}

.btn-leave-review {
  background: #192436bb;
  width: 180px;
}

.btn-leave-review:hover {
  background: #192436;
  color: white;
}

.btn-outline-light {
  background-color: #192436;
  border-style: none;
}

.btn-outline-light-dashboard-link {
  background-color: #192436;
  border-style: none;
  color: white;
  font-size: 27px;
  margin-top: 15px;
}
.btn-outline-light-dashboard-link:hover {
  background-color: white;
}
