.footer {
  background: #192436;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  z-index: 100;
  position: sticky;
  height:60px;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color:  white;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color:red;
}
.footer-line {
 margin-top: 780px;
 opacity: 0.3;
}

.footer-copyright {
  color: white;
  opacity: 0.75;
}
.footer-page-links {
  display: flex;
}

.footer-page-links-about {
  margin-right: 50px;
  border-right: solid;
  border-right-width: 1px;
}

.footer-page-links-privacy {
  margin-right: 50px;
  border-right: solid;
  border-right-width: 1px;
}

.footer-page-link-about {
  text-decoration: none;
  color: white;
  opacity: 0.75;
  margin-right: 40px;
}

.footer-page-link-privacy {
  text-decoration: none;
  color: white;
  opacity: 0.75;
  margin-right: 40px;

}

.footer-page-link-contact {
  text-decoration: none;
  color: white;
  opacity: 0.75;
}

.footer-page-links a:hover {
  color: white;
  opacity: 1;
}
