.meta-details {
  padding: 13px 0;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}

.meta-details .divider {
  border-right: 1px solid #e2e2e2;
  width: 1px;
  height: 32px;
  margin: 0 24px;
}
