// navbar
.navbar-lewagon {
  justify-content: space-between;
  background:  #192436;
  z-index: 100;
  height: 60px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

// image
.navbar-lewagon .navbar-brand img {
  width: 100px;
  height: 40px;
}

// main links

.nav-link {
    // color: #a69a8c;
    color: white;
    //font-family: 'Cinzel', serif;
    opacity: 0.75;
}

.nav-item {
  margin-top: 10px;
  margin-left: 20px
}

.nav-item a:hover {
  color:white;
  opacity: 1;
}
.navbar-nav {
  justify-content: center;
  align-items: center;
}
 .container-fluid {
    height: 60px;
 }

// dropdown

#navbarDropdown {
  height: 50px;
  width: 60px;
  margin-top: 2px;
  margin-bottom: 20px;
}

// .dropdown-item {
//   //font-family: 'Cinzel', serif;
// }
