.navbar-lewagon {
  justify-content: space-between;
  background:  #192436;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  height: 40px;
}

.nav-link {
    // color: #a69a8c;
    color: white;
    //font-family: 'Cinzel', serif;
}

#navbarDropdown {
  height: 50px;
  width: 60px;
  margin-top: 2px;
  margin-bottom: 20px;
}

.nav-item {
  margin-top: 10px;
  margin-left: 20px
}

.nav-item:hover {
  color:white;
}
.navbar-nav {
  justify-content: center;
  align-items: center;
}
 .container-fluid {
    height: 60px;
 }
.dropdown-item {
  //font-family: 'Cinzel', serif;

}
